* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(219, 217, 203, 0.459)50%, rgba(192, 219, 238, 0.719)50%), url(./at.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

img {
    height: 10rem;
    float: left;
    padding-top: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar {
    width: 1000px;
    height: 70px;
    margin: auto;
}

.logo {
    color:rgb(233, 186, 33);
    font-size: 30px;
    font-family: Arial;
    padding-left: 80px;
    padding-top: 70px;
}